<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make A Payment</title>
    <link rel="stylesheet" type="text/css" href="login_style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body {
            background-color: lightgreen;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-sm mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a class="navbar-brand" th:href="@{/}">ATZ Finance</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item mr-2">
                            <a class="nav-link" th:href="@{/dashboard/user/{userID}(userID=${userID})}">Dashboard</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link" th:href="@{/apply(userID=${userID})}">Apply for a New Loan</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link" th:href="@{/inbox}">Inbox</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container text-center mb-5">
    <div class="row">
        <div class="col col-md-6 mx-auto">
            <h1 class="text-dark text-center">Make Payment</h1>
            <br><br>
            <h3 class="text-center">How much would you like to pay?</h3>

            <div class="card">
                <div class="card-body">
                    <form th:action="@{/make_payment/{type}/{id}(type=${type},id=${id})}" method="post" th:object="${payment}" id="payForm">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Payment Amount</label>
                            <div class="col">

                            </div>
                        </div>
                        <br><br>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Full name on card</label>
                            <div class="col">
                                <input class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Card number</label>
                            <div class="col">
                                <input class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Expiration date</label>
                            <div class="col-3">
                                <input class="form-control" type="text" placeholder="MM/YY"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Security code</label>
                            <div class="col-2">
                                <input class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <input type="submit" class="btn btn-outline-success" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- I like the idea of this footer, but it doesn't fit what we've been doing so far.
     We should decide what to do with it as a group. -->
<!--<footer class="site-footer pt-3">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-3 offset-1">-->
<!--                <h5 class="text-white">Quick Links</h5>-->
<!--                <ul class="list-unstyled">-->
<!--                    <li><a th:href="@{/}">Home/Log Out</a></li>-->
<!--                    <li><a th:href="@{/account_view}">Account</a></li>-->
<!--                    <li><a th:href="@{/loan_application}">New Loan</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="col-4 text-center">-->
<!--                <h5 class="text-white">Social</h5>-->
<!--                <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/"><i-->
<!--                        class="fab fa-instagram"></i></a>-->
<!--                <a class="btn btn-social-icon btn-facebook" href="http://facebook.com/"><i-->
<!--                        class="fab fa-facebook"></i></a>-->
<!--                <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i-->
<!--                        class="fab fa-twitter"></i></a>-->
<!--                <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i-->
<!--                        class="fab fa-youtube"></i></a>-->
<!--            </div>-->
<!--            <div class="col-4 text-center">-->
<!--                <h5 class="text-white">Help Line</h5>-->
<!--                <a role="button" class="btn btn-link" href="tel:+12223334444">-->
<!--                    <i class="fa fa-phone"></i>-->
<!--                    1-222-333-4444-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--<footer class="site-footer-darker pt-3">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-2 offset-1 text-darker-footer">-->
<!--                <h4>About</h4>-->
<!--                <br />-->
<!--                <p>-->
<!--                    eFinance is your ideal place for loan financing. You can apply for personal loans, business loans, auto loans, and even student loans. We are available for support 24/7, and will answer any questions pertaining to the application, loan servicing, and general ATZ finance information.-->
<!--                    <br>&#169; Copyright 2021-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="col-3 offset-2 text-darker-footer">-->
<!--                <h4>User Information</h4>-->
<!--                <br/>-->
<!--                <span>User name: Log in first!</span>-->
<!--                <br/>-->
<!--                <span>Email: Log in first!</span>-->
<!--                <br>-->
<!--                <a th:href="@{/account_view}">Go To Account</a>-->
<!--            </div>-->
<!--            <div class="col-3 offset-1">-->
<!--                <h4 class="text-success">Need Help?</h4>-->
<!--                <br/>-->
<!--                <form>-->
<!--                    <input type="text" placeholder="Your email..." class="form-control-sm"><br>-->
<!--                    <input type="textarea" placeholder="Type your message here..." class="mt-3 form-control-sm" style="height: 100px">-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
</body>
</html>